{% extends 'registration/base.html' %}

{% block auth %}

  <h4 class="mb-2">Forgot Password? 🔒</h4>
  <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
  <form id="formAuthentication" class="mb-3" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>


      <input type="email" name="email" class="form-control" autocomplete="email" maxlength="254" required="" id="id_email" autofocus placeholder="Enter your email">

    </div>
    <button type="submit" class="btn btn-primary d-grid w-100">Send Reset Link</button>
  </form>

  <div class="text-center">
    <a href="{% url 'signin' %}" class="d-flex align-items-center justify-content-center">
      <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
      Back to login
    </a>
  </div>

{% endblock auth %}


  