{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="page-title">{{sacco|title}}</h2>
        <!-- <p class="text-muted">Demo for form control styles, layout options, and custom components for creating a wide variety of forms.</p> -->

        <div class="row">
          <div class="col-md-12">
            <div class="card shadow mb-4">
              <div class="card-header">
                <strong class="card-title">Inline Form</strong>
              </div>
              <div class="card-body">
                
                <form action="" method="post">
                    <h4>Register Sacco</h4>
                    {% csrf_token %}
                    <p>Are you sure you want to delete <span class="font-weight-bold">{{object}}</span> </p>
                    <input class="btn btn-danger" type="submit" value="Delete">
                 </form>

              </div>
            </div>
          </div>
        </div> 
        <!-- end section -->

      </div> <!-- .col-12 -->
    </div> <!-- .row -->
  </div> <!-- .container-fluid -->


{% endblock content %}

                      
             
           